footer {
  background: #000;
  padding: 20px 0;
  color: #fff;
}

.navigation {
  background: #1B1C1D;
}

.no-lazy-blocks {
  padding-top: 50px;
}

.lzb-two-column {
  padding: 50px 0;
  .lzb-two-column__content {
    padding-bottom: 20px;
  }
}

.lzb-accordion {
  padding: 50px 0;
  background: #e3e3e3;

  .description {
    margin-bottom: 20px;
  }
}

.lzb-accordion__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.has-lazy-blocks {
  .heading-element {
    padding: 20px 0;
  }
}

.ui.container {
  h2,
  h3,
  h4,
  h5 {
    margin: 10px 0;
  }

  p {
    padding: 5px 0;
  }
}

.blog-template {
  padding: 50px 0;
}

// https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
.pageContainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .pushable {
    flex: 1;
  }
}
